<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container">
        <header>
            {% block header %}
            <h1><a href="{{ site.url }}/">{{ site.title }} <small>{{ site.subtitle }}</small></a></h1>
            {% endblock %}
        </header>
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p class="text-muted">&copy; {{ "now"|date("Y") }} {{ site.title }} {{ site.author }}</p>
    </div>
</footer>
<script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.url }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
{% include 'includes/analytics.html' %}
</body>
</html>
